*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 49, 49) !important;
}

.container{
    background-color: #f9f9f9;
    position: relative;
}

.sticker{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
}

.sticker a{
    text-decoration: none;
    font-size: 3rem;
}

.sticker-phone a{
    color: rgb(161, 6, 1);
}

.sticker-mail a{
    color: rgb(255, 145, 0);
}

.sticker-phone::after,
.sticker-mail::after{
    transform: scale(1);
}

nav{
    width: 100vw;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: rgba(189, 187, 187, 0.397) 0.3px solid;
    position:fixed;
    z-index: 2;
}

/* down-box  */

.toggle-nav{
    display: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    width: 100vw;    
}

.down-info{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    background-color: #f9f9f9;
}

.toggle-nav a,
.contact a{
    text-decoration: none;
    padding: 16px;
    color: grey;
}

.toggle-nav a:hover{
    color: rgb(161, 6, 1);
}

.double-down{
    display: flex;
    box-shadow: 0px -7px 23px -7px rgba(119, 119, 119, 0.86);
    justify-content: center;
    text-align: center;
    color: grey;
    width: 100vw;
    background-color: #f9f9f9;
}

.fa-angle-double-down{
    padding-top: 16px;
}

.toggle-nav input{
    opacity: 0;
    width: 100vw;
    height: 40px;
    position: absolute;
    z-index: 2;
    top:35%;
    left:50%;
    transform:translate(-50%, -50%);
}

input:checked +div{
    display: flex;
}

.main-nav{
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    width: 205px;
    padding: 20px;
    padding-right: 0px;
}

/* web menu */

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    padding: 0 16px;
    color:black;
    font-weight: 600;
    transition: all 0.3s;
}

ul li:last-child{
    padding-right: 0px;
}

ul li:hover{
    color: rgb(161, 6, 1);
    animation: ease-in-out;
}

/* hamburger menu */

#menuToggle{
    display: none;
    position: relative;
    top:0px;
    right:20px;
}

#menuToggle li{
    color: #676565;   
}

#menuToggle li:hover{
    color: rgb(161, 6, 1);
    animation: ease-in-out;
} 

#menuToggle input{
    opacity: 0;
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    z-index: 2;
}

#menuToggle span{
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    background-color: #cdcdcd;
    border-radius: 3px;
    transition: all 0.5s linear;   
}

#menuToggle input:checked ~span{
    transform: rotate(45deg);
    background-color: #676565;
    transform-origin: 0% 0%;
}

#menuToggle input:checked ~span:nth-child(3){
    display: none;
}

#menuToggle input:checked ~span:nth-child(4){
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    margin-top: 18px;
}

#menu{
    position: absolute;
    width: 250px;
    padding: 25px 50px;
    background-color: #edededef;
    list-style: none;
    margin: 13px 0 0 -240px;
    right: -320px;
    transition: all 1s linear;
    z-index: 5;
}

#menu{
    display: flex;
    flex-direction: column;
}

#menu li{
    padding: 10px 0;
    font-size: 1.2rem;
}

#menuToggle input:checked ~ul{
    right: -60px;
}

/* section banner */

.banner{
    padding-top: 60px;
}

.banner-central{
    margin: 0 auto;
    background-image: url(./../img/background-lines-geometry-3.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}

.banner h2, 
.banner-text{
    color: white;
    font-size: 2.8rem;
    text-align: center;
    padding-top: 30px;
}

.banner-price{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(228, 63, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: banner-price 2s;
    box-shadow: -2px 1px 28px 4px #000000;
} 

.price{
    font-size: 16px;
}

@keyframes banner-price {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.3);
    }
    to{
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}

.banner-text{
    padding-top: 0px;
    font-weight: 300;
}

.fas, .far{
    margin-right: 10px;
}

.banner-central a{
    text-decoration: none;
}

.banner-central button{
    margin: 20px auto;
    display: block;
    width: 50%;
    margin-bottom: 16px;
    padding: 16px 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    background-color: rgba(253, 175, 72, 0.603);
    transition: background-color 0.8s ease-in-out;
    cursor: pointer;
}

.click-me{
    animation: click-me 1.5s infinite;
}

@keyframes click-me{
    from{
        background-color: rgba(253, 175, 72, 0.521);
    }
    to{
        background-color: rgb(243, 151, 14);
    }
}

.banner-central button:hover{
    background-color: rgb(243, 151, 14);
}

.button-box{
    display: flex;
    width: calc(100% / 2);
    margin: 0 auto;
}

.button-box a{
    flex-basis: calc(100%/2);
    display: flex;
}

.button-box a button{
    width: 100%;
}

.button-box a:first-child{
    margin-right: 6px;
}

.portfolio{
    margin: 30px auto 0px;
    width: 50%;
}

.portfolio img{
    width: 100%;
}

.anzeige{
    margin-bottom: 50px;
    color: rgb(243, 151, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    margin: 40px auto;
    font-size: 1.8rem;
}

.anzeige-items{
    display: flex;
    justify-content: space-around;
}

.anzeige-item{
    margin: 0px 20px 20px;
    text-align: center;
    cursor: pointer;
}

.anzeige-item .fas, p{
    font-size: 25px;
}

.public{
    margin: 0 auto;
    width: 70%;
}

.public h3{
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 30px;
}

/* section "funktionen" */

.funktionen{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(78,76,76);
    background: linear-gradient(180deg, rgba(78,76,76,1) 1%, rgba(255,254,252,0.8995973389355743) 51%, rgba(222,211,197,1) 66%);
    box-shadow: 0px -4px 14px -2px rgba(148, 145, 145, 0.849);
}

.funktionen h2, .content h2, .slider h2{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 1.8rem;
}

.func-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.func-button button, .more-btn, .btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
    padding: 16px;
    flex-basis: calc(100%/3 - 16px);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border:none;
    background-color: rgba(253, 175, 72, 0.726);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
}

.more-btn, .btn-submit{
    flex-basis: 50%;
}

.func-button button:hover{
    background-color: rgb(243, 151, 14);
    animation: ease-in-out;
}

.active{
    background-color: rgb(243, 117, 14);
}

.func-cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card{
    display: flex;
    flex-basis: calc(90%/3 - 20px);
    justify-content: center;
    align-items:flex-start;
    margin: 10px auto;
    flex-direction: column;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 1px 2px 13px -4px #363636;
    position: relative;
}

.card .icon{
    font-size: 2.8rem;
    margin: 0 auto;
}

.card h4{
    text-align: center;
    font-size: 1.2rem;
    margin: 16px auto;
}

.card p{
    font-size: inherit;
    text-align: justify;
}

.ent{
    padding: 6px;
    background-color: rgb(243, 151, 14);
    position: absolute;
    right: 0px;
    top:0px;
}

.more-btn, .btn-submit{
    margin: 30px auto;
    background-color: rgb(243, 151, 14);
}

/*  more article */
.more{
    display: none;
}

.content h2, .slider h2{
    color: rgb(49, 49, 49);
}

.contents{
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    justify-content: space-around;
    flex-direction: row;
    width: 100% -32px;
}

.more-content-box{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    margin: 16px;
    padding-top: 26px;
    flex-basis: calc(100%/2 - 32px);
    position: relative;
}

.more-content-box h3{
    text-align: start;
    margin: 0px;
}

.more-content-box p{
    font-size: 1rem;
    text-align:left;
}

.more-content-box i{
    font-size: 3rem;
    margin: 10px 20px 0px 0px;
}

.calendar-icon{
    margin-left: 12px;
}

/* slider section */

.slider{
    margin-top: 50px;
    width: 100%;
} 

.slideshow-container{
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.8) 0%,
        rgba(0, 0, 0, 0.322) 100%
    ),
    url('../img/slider-bg.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: auto;
}

.wrapper{
    display: none;
    margin: 0 auto;
    width: 60%;
}

.slider-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 4px solid #777;
    background-color: rgba(252, 250, 249, 0.514);
    margin-bottom: 16px;
}

#img-1, 
#img-2, 
#img-3,
#img-4, 
#img-5, 
#img-6,
#img-7, 
#img-8{
    position: absolute;
}

#img-1{
    width: 140px;
    height: 140px;
    left:25px;
    top:22px;
}

#img-2{
    width: 140px;
    height: 140px;
    top:28px;
    left:30px;
}

#img-3{
    height: 110px;
    left: 13px;
    top:40px;
}

#img-4{
    width: 150px;
    left:22px;
    top:22px;
}

#img-5{
    width: 200px;
    left:-2px;
    top:-20px;
}

#img-6{
    width: 150px;
    left: 25px;
    top: 22px;
}

#img-7{
    width: 150px;
    left:22px;
    top:20px;
}

#img-8{
    width: 150px;
    left:22px;
    top:22px;
}

.slider-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 160px;
}

.slider-text span{
    font-size: 1.7rem;
    font-weight: bold;
    color:rgba(253, 175, 72, 0.993);
    margin-bottom: 25px;
}

.slider-text p{
    color: white;
    margin-bottom: 16px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    _margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 1s ease;
    border-radius: 0 3px;
}

.prev{
    left: 0;
}

.next{
    right: 0;
    border-radius: 3px 0;
}

.prev:hover,
.next:hover{
    background-color: rgba(253, 175, 72, 0.445);
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 20px 2px 0;
    background-color: rgba(253, 175, 72, 0.445);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover{
    background-color: rgba(253, 175, 72, 0.993);
}

.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade{
    from{opacity:0.4}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity:0.4}
    to{opacity: 1}
}

/* contact-section */

.contact{
    margin: 50px 16px 0px;
    padding-bottom: 50px;
}

.contact-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-data h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.contact-data a{
    font-size: 1.2rem;
    padding-bottom: 0px;
}

.employees{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.employee{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px;
    flex-basis: calc(100%/4 - 80px);
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.39);
}

.employee img{
    width: 200px;
    border-radius: 50%;
    -box-shadow: 0px 13px 23px -5px rgba(0,0,0,0.86);
    margin-bottom: 16px;
}

.employee p span{
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(243, 151, 14);
}

.employee p{
    font-size: 1.1rem;
}

.form-box{
    margin: 10px auto;
    width: 80%;
}

#contact-form{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(243, 151, 14);
    border-radius: 15px;
    background-color: rgb(250, 239, 218);
}

#contact-form select, 
#contact-form input,
#note{
    width: 40%;
    padding: 16px;
    border:none;
    margin: 8px;
    font-size: 1rem;
    color: rgb(90, 89, 89);
    outline: none;
}

#note{
    width: 82%;
}

.annotation{
    width: 82%;
    font-size: 0.9rem;
}

.annotation input{
    width: 20px !important;
    display: inline-block;
}

footer{
    position: absolute;
    z-index: 10;
    background-color: rgb(58, 57, 57);
    color: honeydew;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

footer .first-footer-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    margin-top:20px;
}

footer img{
    margin-right: 16px;
    width: 5%;
    background-color: white;
}

footer p{
    font-size: 0.9rem;
}

.second-footer-box{
    padding: 16px;
    align-self: flex-start;
}

/* responsive */

@media screen and (max-width:991px){
    #menuToggle{
        display:block;
    }

    nav{
        padding: 0px;
    }

    .menu{
        display: none;
    }
    
    .employee{
    flex-basis: calc(100%/2 - 40px);
    border-bottom: 2px solid rgba(128, 128, 128, 0.39);
    }
}



@media screen and (max-width:768px) {
    .toggle-nav{
        display: flex;
        flex-direction: column;
    }

    .sticker{
        display: none;
    }

    .banner-central button{
        width: 90%;
    }

    .banner-central h2{
        font-size: 2rem;
    }

    .portfolio{
        width: 90%;
    }

    .button-box{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .button-box button:first-child {
        margin: 20px auto 10px;
    }

    .anzeige-items{
        flex-basis: calc(100% / 4 - 40px);
        flex-wrap: wrap; 
    }

    .funktionen h3{
        font-size: 1.3rem;
    }

    .func-button {
        flex-direction: column;
        width: 70%;
    }

    .func-button button, 
    .more-btn, 
    .btn-submit{
        flex-basis: 70%;
    }

    .button-box a:first-child {
        margin-right: 0px;
    }

    .card{
        flex-basis: calc(100%/2 - 20px);
        flex-wrap: wrap;
        height: 360px;
    }

    .card p:last-child{
        font-size: 1rem;
        padding: 0 8px;
    }

    .wrapper{
        width: 80%;
    }

    .slideshow-container p{
        font-size: 1.5rem;
    }

    .more-content-box{
        flex-basis: calc(100% - 32px)
    }

    .employee{
        flex-basis: calc(100% - 40px);
    }

    .employee img{
        width: 150px;
    }   
    
}

@media screen and (max-width:550px) {
    .banner-central{
        padding-top: 30px;
    }

    .banner-text{
        font-size: 1.8rem;
    }

    .card p:last-child{
        font-size: 0.9rem;
    }

    .card{
        flex-basis: 70%;
        height: fit-content;
    }

    .slideshow-container p{
        font-size: 1.1rem;
    }

    #contact-form select, 
    #contact-form input,
    #note{
        width: 70%;
    }   

}